body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #f4f0ff, #eef2ff);
}

/* LIGHT MODE */
.light {
  min-height: 100vh;
  text-align: center;
  padding: 30px;
  color: #111;
}

/* DARK MODE */
.dark {
  min-height: 100vh;
  text-align: center;
  padding: 30px;
  background: #121212;
  color: white;
}

/* TITLE */
h1 {
  font-size: 55px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #111827;
}

/* SUBTITLE */
.subtitle {
  font-size: 20px;
  color: #6b7280;
  margin-bottom: 25px;
}

/* DARK MODE BUTTON */
.mode-btn {
  background: linear-gradient(to right, orange, #ff4d6d);
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: 0.3s;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.mode-btn:hover {
  transform: scale(1.05);
}

/* USERNAME INPUT */
input {
  width: 320px;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid #7c3aed;
  font-size: 16px;
  margin-bottom: 20px;
  outline: none;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}

/* CONNECTION STATUS */
.status {
  display: inline-block;
  background: #dcfce7;
  color: #16a34a;
  padding: 10px 18px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* TYPING STATUS */
.typing-text {
  font-size: 18px;
  margin-bottom: 10px;
  color: #7c3aed;
}

/* TEXTAREA */
textarea {
  width: 80%;
  height: 420px;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid #7c3aed;
  font-size: 24px;
  resize: none;
  outline: none;
  background: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

/* DARK MODE SUPPORT */
.dark textarea,
.dark input {
  background: #1f2937;
  color: white;
  border-color: #8b5cf6;
}

.dark h1 {
  color: white;
}

.dark .subtitle {
  color: #d1d5db;
}

.dark textarea::placeholder,
.dark input::placeholder {
  color: #d1d5db;
}